streamlit

numpy
pandas 

# face-recognition 
scikit-learn
dlib-bin

setuptools==69.5.1
wheel

git+https://github.com/ageitgey/face_recognition_models

supabase
bcrypt

segno
pillow


librosa
resemblyzer